Python contains the following inbuilt data types
1) Int
2) Float
3) Complex
4) Bool
5) Str
6) Byte
7) Bytearray
8) Range
9) List
10) Tuple
11) Set
12) Frozenset
13) Dict
14) None

Python contains several in-built Functions
1) type() : to check the type of variable
2) id() : to get address of object
3) print() : to print the value
In Python everything is an Object.

int Data Type:
We can represent int values in the following ways
1) Decimal Form
2) Binary Form
3) Octal Form
4) Hexa Decimal Form

I) Decimal Form (Base -10):

In [ ]:
a=10 #correct

II) Binary Form (Base -2):
  1) The allowed digits are: 0 & 1
  2) Literal value should be prefixed with 0b or 0B

In [ ]:
a=0B111 #correct
a=0b111 #correct
a = b111 #invalid

III) Octal Form (Base -8):
1) The allowed digits are: 0 to 7
2) Literal value should be prefixed with 0o or 0O.

In [ ]:
a=0O123 #correct
a=0o111 #correct
a = 0O786 #invalid because 0 to 7 are only available

IV) HexaDecimal Form (Base -16):
1) The allowed digits are: 0 to 9, a-f (both lower and upper case are allowed)
2) Literal value should be prefixed with 0x or 0X

In [ ]:
a = 0XFACE #correct
a = 0XBeef #correct
a = 0XBeer #Invalid because r is not allowed

Note: Being a Programmer we can specify literal values in decimal, binary, octal and hexa decimal
forms. But PVM will always provide values only in decimal form.
1) a=10
2) b=0o10
3) c=0x10
4) d=0B10
5) print(a) #10
6) print(b) #8
7) print(c) #16
8) print(d) #2

Base Conversions:

In [6]:
bin(123)

'0b1001'

In [7]:
bin(0o11)

'0b1001'

In [8]:
bin(0X10)

'0b10000'

In [2]:
oct(234)

'0o352'

In [9]:
oct(0B101)

'0o5'

In [10]:
oct(0X123)

'0o443'

In [11]:
hex(100)

'0x64'

In [12]:
hex(0B101)

'0x5'

In [13]:
hex(0O1323)

'0x2d3'

2) Float Data Type:


 1) We can use float data type to represent floating point values(decimal values)
   Eg: f= 1.234
   type(f) #float
 2) We can also represent floating point values by     using     exponential form (Scientific Notation)
 Eg: f=1.2e3  instead of ‘e’ we can use ‘E’
  print(f) 1200.0
 3) The main advantage of exponential form is we can represent big values in less memory.

In [14]:
 f=0B11.01 #invalid because we can only represent in decimal form

SyntaxError: invalid syntax (99532902.py, line 1)

In [ ]:
      f=0o123.456 #invalid because we can only represent in decimal form

In [15]:
f=32312.123 #correct

3) Complex Data Type:


  1)  In the real part if we use int value then we can specify that either by decimal, octal, binary or
  hexa decimal form.

  2)  But Imaginary part should be specified only by using decimal form.

In [16]:
a=0b101+5j #correct

In [17]:
a=0x10F+34j #correct

In [ ]:
a=2332+0b101j #invalid because bin,oct,hex are only to be used in real part

Even we can perform operations on complex type values.

In [18]:
a=101+5j
b=1212+34.34j
print(a+b)

(1313+39.34j)

Complex data type has some inbuilt attributes to retrieve the real part and imaginary part
 1)      .real
 2)      .imag

In [21]:
a=23434+324.234j
a.real
print(a.real)
print(a.imag)

23434.0
324.234

4) bool Data Type:
   1) We can use this data type to represent Boolean values.
   2) The only allowed values for this data type are:
   3) True and False
   4) Internally Python represent True as 1 and False as 0

In [22]:
a=10
b=20
c= a<b
print(c)

True

5) str Data Type:
   1) str represent String data type.
   2) A string is a sequence of characters enclosed within single quotes or double quotes.
   3) S1= ‘aditya’
   4) S1=”aditya”
   5) By using single quotes or double quotes we cannot represent multi line string literals.

In [24]:
#for multiline strings triple quotes are to be used 
s1=""" this is 
 example """
 
print(s1)

 this is
 example

1) 'class by 'aditya' is very good'     (it not valid)
<br>

2) "class by 'aditya' is very good"     (it is valid)
<br>

3) "class by "aditya" is very good"     (it not valid)
<br>

4) 'class by "aditya" is very good'     (it is valid)
<br>

5) 'classes by 'aditya' for "python" are very good'(it not   valid)
<br>

6) '''classes by 'naresh' for "python" are very good'''(it is valid)

Slicing of Strings:

1. Slice means a piece

2. [ ] operator is called slice operator, which can be used to retrieve parts of String.

3. In Python Strings follows zero based index.

4. The index can be either +ve or –ve.

5. +ve index means forward direction from Left to Right.

6. –ve index means backward direction from Right to Left

In [30]:
s1="aditya"
print(s1[0])
print(s1[1])
print(s1[2])
print("")
print(s1[-1])
print(s1[-2])
print(s1[-3])

# Accessing elements using indices out of range
# print(s1[40])
#output = string index out of range

a
d
i

a
y
t

In [36]:
s1="aditya"
print(s1[:]) 
print(s1[0:5])
print(s1[1:5])
print(s1[2:5])
print(s1[1:20])
print(s1[:2])
print(s1*3)
print(len(s1))

aditya
adity
dity
ity
ditya
ad
adityaadityaaditya
6

Note:
1) In python the following data types are considered as Fundamental Data types
 1) int
 2) float
 3) complex
 4) bool
 5) str (string)

2) In Python, we can represent char values also by using str type and explicitly char type is not
available.
>>> c='a'
 
>>> type(c)

>>> <class 'str'>

3) Long Data type is available in Python2 but not in Python3. In Python3 long values also we can
represent by using int type only.
4) In Python we can present char values also by using str Type and explicitly char Type is not
available.

TYPE CASTING
 1) We can convert one type value to another type. This conversion is called Typecasting or Type
 coersion.
 2) The following are various inbuilt functions for type   casting.
1) int()
2) float()
3) complex()
4) bool()
5) srt()

In [37]:
int(10.5)

10

In [38]:
int(0b1011)

11

In [39]:
int(10+5j) #invalid complex datatype can't be converted

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [40]:
int("10") #correct because str in for of base10 can be converted

10

In [41]:
int("234.23432") #invalid because str in form of complex

ValueError: invalid literal for int() with base 10: '234.23432'

In [ ]:
int("0b10102") #invalid because str in form of binary

In [ ]:
int("ten") #invalid literal for int() with base 10: 'ten'

In [ ]:
# float(True) -> 1.0
# float(False) -> 0.0

Note:
1) We can convert from any type to int except complex type
2) If we want to convert str type to int type, compulsory str should contain only integral value and
should be specified in base-10.

### float():

In [49]:
float(10)
float(10.5)
# float(10+5j) #invalid
float(True)
float(False)
float("10")
# float("10+5j") invalid
float("10.5")
# float("ten")
# float("0B1111") invalid

10.5

Note:
1) We can convert any type value to float type except complex type
2) Whenever we are trying to convert str type to float type compulsory str should be either integral
or floating point literal and should be specified only in base-10.

### complex():

In [50]:
complex(10)
# (10+0j)
complex(10.5)
# (10.5+0j)
complex(True)
# (1+0j)
complex(False)
# 0j
complex("10")
# (10+0j)
complex("10.5")
# (10.5+0j)

# complex("ten") invalid
# ValueError: complex() arg is a malformed string

complex(2,3)
# (2+3j)

complex(True,False)
# (1+0j)

(2+3j)

 #### bool()

In [ ]:
bool(0)
# False
bool(1)
# True
bool(10)
# True
bool(10.5)
# True
bool(0.178)
# True
bool(0.0)
# False
bool(10-2j)
# True
bool(0+1.5j)
# True
bool(0+0j)
# False
bool("True")
# True
bool("False")
# True
bool("")
# False

### str()

In [ ]:
str(10)
# '10'
str(10.5)
# '10.5'
str(10+5j)
# '(10+5j)'
str(True)
# 'True'

### Byte Data Type():
Byte data type represents a group of byte numbers just like an array.

In [54]:
x=[10,20,30,40,50]
b=bytes(x)

print(b[0])
print("")
for i in x:
    print(i)

10

10
20
30
40
50

In [52]:
# invalid because bytes must be in range(0, 256)
x=[10,20,30,40,50,258]
b=bytes(x)

print(b[-1])

ValueError: bytes must be in range(0, 256)

In [ ]:
x=[10,20,30,40,50]
b=bytes(x)

b[0]=100  #invalid because  b is bytes not list

###  bytearray Data Type():
bytearray is exactly same as bytes data type except that its elements can be modified.

In [107]:
x=[10,20,30,40,50]
b=bytearray(x)


b[0]=100  #change the first element of b to 100 valid because bytearry can be modified

print(b[0])

100

### List Data Type():
If we want to represent a group of values as a single entity where insertion order required to
preserve and duplicates are allowed then we should go for list data type.

In [62]:
l=[10,10.5,"ten",True,10+5j]
print(l)
print("")
print(type(l))
print("")
print(len(l))
print("")
print(l[1])
l[2]=200
print(l)
print(l[0:2])
print("")
for i in l:
    print(i)

[10, 10.5, 'ten', True, (10+5j)]

<class 'list'>

5

10.5
[10, 10.5, 200, True, (10+5j)]
[10, 10.5]

10
10.5
200
True
(10+5j)

In [72]:
l=[10,10.5,"ten",True,10+5j]

l.append(25)
print(l) 

l.remove(10)
print(l)

l.remove('ten')

print(l,end='')

[10, 10.5, 'ten', True, (10+5j), 25]
[10.5, 'ten', True, (10+5j), 25]

[10.5, True, (10+5j), 25]

In [74]:
l=[10,10.5,"ten",True,20,20,10+5j]
l1=l*2
print(l1) #modified l1 is printed

[10, 10.5, 'ten', True, 20, 20, (10+5j), 10, 10.5, 'ten', True, 20, 20, (10+5j)]

### Tuple Data Type():
Tuple daya type is exactly same as list data type except that it is immutable. i.e we cannot change
the values.
Tuple elements can be represented within parenthesis.

In [90]:
t=(10,20,"true",10+5j,23.3)
print(t[1])
print(type(t))

# t[0]=3 invalid as tuple is immutable
# t.append(111) invalid as tuple is immutable
# t.remove(100) invalid as tuple is immutable

20
<class 'tuple'>

Note: Tuple is the read only version of list

### Range Data Type():
Range data type represents a sequence of numbers.
The elements present in range Data type are not modifiable. i.e range Data type is immutable.

In [81]:
r=range(10)
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
r=range(10,20)
for i in r:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [83]:
r=range(10,20,3)
for i in r:
    print(i)

10
13
16
19

In [86]:
r=range(10,20,3)
print(r[0])
print(r[3])
# print(r[15]) IndexError: range object index out of range

10
19

IndexError: range object index out of range

In [ ]:
r=range(10,20,3)
# r[0]=200 we cannot modify the range

We can create a list of values with range data type

In [89]:
l=list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

6

### Set Data Type():
 If we want to represents a group of values without duplicates where order is not important then we
should go for set Data Type.
1) Insertion order is not preserved
2) Duplicates are not allowed
3) Heterogeneous objects are allowed
4) Index concept is not applicable
5) It is mutable collection
6) Growable in nature

In [96]:
s={10,20,"eswar"}
# print(s[0]) indexing is not possible order is not preserved
print(s)
s.add(30)
print(s)
s.remove(10)
print(s)

{10, 'eswar', 20}
{10, 'eswar', 20, 30}
{'eswar', 20, 30}

In [99]:
s={10,20,"eswar"}
fs=frozenset(s)

print(type(s))
print(type(fs))
  #s.add(121)   invalid
  #s.remove(10) invalid

<class 'set'>
<class 'frozenset'>

### dict Data Type():
 1) If we want to represent a group of values as key-value pairs then we should go for dict data
type.
2) Eg:d={101:'naresh',102:'ravi',103:'shiva'}
3) Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry
with duplicate key then old value will be replaced with new value.

In [101]:
d={101:"eswar",102:"aditya",103:10,"ten":10}
for i in d:
    print(i)

101
102
103
ten

In [109]:
d={101:"eswar",102:"aditya",103:10,"ten":10}
d['a']="we"
print(d)
print(d[101])

{101: 'eswar', 102: 'aditya', 103: 10, 'ten': 10, 'a': 'we'}
eswar

Note:
1) In general we can use bytes and bytearray data types to represent binary information like
images, video files etc
2) In python2 long data type is available. But is Python3 it is not available and we can represent
long values are also by using int type only.
3) In python there is no char data type. Hence we can represent char values also by using str
type.

### None Data Type():
1) None means nothing or No value associated.
2) If the value is not available, then to handle such type of cases None introduced.
3) It is something like null value in java.

## operator

### special operator

In [111]:
a=10
b=20
print(a is b)
print(a is not b)

False
True

### membership operator

In [113]:
l=[10,20,"eswar"]
print("eswar" in l)
print(60 in l)

True
False